.control-panel {
	text-align: center;
	height: 100%;
	background-color: #c24112;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: inset 0 0 0 5px #301000;
}
  
.code-display {
	margin: 20px;
	font-size: 24px;
	font-weight: bold;
	color: #301000;
}

.keypadContainer {
	background-color: #c24112;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: inset 0 0 0 5px #301000;
	margin-left: 10%;
	margin-right: 10%;
	padding: 20px;
}
  
.keypad {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	justify-items: center;
}
  
.button-group {
	margin-top: 20px;
}

.warningDiv {
	margin-top: 20px;
}

.numbPadYellow {
	--background: #ff970f;
	--background-hover: #ffce72;
	--background-activated: #ffce72;
	--background-focused: #ffce72;
	--color: rgb(0, 0, 0);
	--border-radius: 10px;
	--border-color: #000;
	--border-style: solid;
	--border-width: 1px;
	--box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 1);
	--padding-top: 10px;
	--padding-bottom: 10px;
}

.numbPadBlue {
	--background: #30706a;
	--background-hover: #419c93;
	--background-activated: #419c93;
	--background-focused: #419c93;
	--color: rgb(255, 255, 255);
	--border-radius: 10px;
	--border-color: #000;
	--border-style: solid;
	--border-width: 1px;
	--box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 1);
	--padding-top: 10px;
	--padding-bottom: 10px;
  }

  .numbPadRed {
	--background: #ff0000;
	--background-hover: #ffce72;
	--background-activated: #ffce72;
	--background-focused: #ffce72;
	--color: rgb(255, 255, 255);
	--border-radius: 10px;
	--border-color: #000;
	--border-style: solid;
	--border-width: 1px;
	--box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 1);
	--padding-top: 10px;
	--padding-bottom: 10px;
}

.roomStatusBar {
	background-color: #ff970f;
	margin-right: 40px;
	margin-left: 40px;
	margin-top: 10px;
	padding: 5px;
	display: flex;
	justify-content: space-between;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 2px 6px 0 #301000;
	color: black;
}

.controlPanelButton {
	--background: #ff970f;
	--background-hover: #ffce72;
	--background-activated: #ffce72;
	--background-focused: #ffce72;
	--color: rgb(0, 0, 0);
	--border-radius: 10px;
	--border-color: #000;
	--border-style: solid;
	--border-width: 1px;
	--box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 1);
	--padding-top: 10px;
	--padding-bottom: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.listContainer {
	margin-top: 10px;
}

.spanText {
	font-weight: bold;
	color: red;
	width: 100px;
}