html, body {
    overscroll-behavior: none;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    touch-action: manipulation;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    user-select: none;
  }